// Aspect Ratios

.Figure {
  position: relative;
  width: 100%;
  height: 0;
}

.Figure--1-1 { padding-bottom: 100% }
.Figure--4-3 { padding-bottom: 75% }
.Figure--16-9 { padding-bottom: 56.25% }

.Figure__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Figure__img {
  display: block;
  height: 100%;
  object-fit: cover;
}
